<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onekeyask.lawyer">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58feecefaed179145300072d" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="default" />

        <!-- for wechat pay -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|keyboard|navigation"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- for alipay sdk -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- for wechat share -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- for sina share -->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <activity
            android:name=".ui.act.AppLauncherActivity"
            android:theme="@style/BaseTheme.Volunteer.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.act.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:launchMode="singleTask"
            android:theme="@style/customTheme" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.act.consulting.QuickConsultingActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.consulting.ConsultingDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.consulting.ToMyMindActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.consulting.EvaluateLawyerActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.consulting.EvaluateCompleteActivity"
            android:launchMode="singleTask"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".ui.act.consulting.PayLawyerActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.consulting.PayQuickConsultingActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.consulting.TalkingActivity"
            android:label=""
            android:launchMode="singleTask"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".ui.act.me.MyIntegralActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.me.EarnPointsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.me.MyWalletActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.me.BillingDetailsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.me.RechargeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.me.WithdrawalActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.me.PwdAuthActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.me.BalanceWithActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.me.CardManageActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.me.AddCardActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.me.WithStateActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.me.OpinionActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.me.SubmitOpinionActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.me.SettingActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.user.ResetPasswordActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.me.StatementActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.user.LoginActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.user.RegisterActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.user.MissPasswordActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.user.MyInfoActivity"
            android:launchMode="singleTask"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".ui.act.lawyer.LawyerDetailActivity"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".ui.act.lawyer.LawyerIntroActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.lawyer.PersonLawyerActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.lawyer.TxtPicAskActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.lawyer.SearchLawActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.lawyer.AskDetailActivity"
            android:label=""
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.lawyer.FindLawyerActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.lawyer.InputLawyerActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.me.ChooseBankActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.consulting.ComplaintLawyerActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.consulting.ComplaintFinishActivity"
            android:launchMode="singleTask"></activity>
    </application>

</manifest>