<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.onekeyask.lawfirm">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58ff00b4734be461f00003d8 " />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="default" />

        <service android:name=".global.MyPushIntentService" />

        <!-- 监听系统下载完成的广播 -->
        <receiver
            android:name=".global.DownloadReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="DownloadManager.ACTION_DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.act.AppLauncherActivity"
            android:theme="@style/BaseTheme.Volunteer.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.act.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/customTheme" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.act.index.PayConsultActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.index.GraphicConsultActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.index.PhoneConsultActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.index.PersonConsultActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.service.TalkingActivity"
            android:label=""
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".ui.act.talk.AskDetailActivity"
            android:label=""
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.user.LoginActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.user.RegisterActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.user.IdentityVerificationActivity"
            android:launchMode="singleTask"
            android:theme="@style/PopupTheme" />
        <activity android:name=".ui.act.user.IdentityVerificationNextActivity" />
        <activity
            android:name=".ui.act.user.GotoVerifyActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.me.SettingActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.user.ResetPasswordActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.me.StatementActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.user.TopMsgActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.user.MsgDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.me.MyWalletActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.me.BillingDetailsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.me.WithStateActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.me.WithdrawalActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.me.PwdAuthActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.me.ChooseBankActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.me.AddCardActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.me.CardManageActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.me.OpinionActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.me.SubmitOpinionActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.user.MyInfoActivity"
            android:launchMode="singleTask"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".ui.act.user.MissPasswordActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.user.IncomeDetailActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.act.me.AboutUsActivity" />
        <activity
            android:name=".ui.act.user.MyIntroduceActivity"
            android:launchMode="singleTask"
            android:theme="@style/PopupTheme" />
        <activity android:name=".ui.act.user.MySpecialActivity" />
        <activity
            android:name=".ui.act.user.MyInfoSubmitActivity"
            android:theme="@style/PopupTheme" />
        <activity android:name=".ui.act.service.CallDetailActivity" />
        <activity android:name=".ui.act.search.SearchContentActivity" />
        <activity android:name=".ui.act.search.SearchLawActivity" />
        <activity android:name=".ui.act.search.LawDetailActivity" />
        <activity android:name=".ui.act.user.SkillAreaActivity" />
        <activity android:name=".ui.act.user.OpenServiceActivity" />
        <activity android:name=".ui.act.user.UploadImgActivity" />
        <activity
            android:name=".ui.act.found.FoundDetailActivity"
            android:label=""
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.act.found.DiscoveryDetailActivity"
            android:label=""
            android:launchMode="singleTask" />
        <activity android:name=".ui.act.me.AddNumberActivity" />
        <activity android:name=".ui.act.me.BankCardTypeActivity" />
        <activity android:name=".ui.act.me.VerificationBankActivity" />
        <activity android:name=".ui.act.me.VerificationSmsActivity"></activity>
    </application>

</manifest>