*.iml
.gradle
/local.properties
/.idea
/build/
*.jks
*.apk
Client/Lawfirm-release.apk
Client/build/
Lawfirm/build/
LawfirmPushSDK/build/
LawyerPushSDK/build/
/Client/src/androidTest/
/Client/proguard-rules.pro
/gradle.properties
/gradlew
/gradlew.bat
/Client/src/test/
/filter-lib/build/
*.pro
img/8-9/icon/
